*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.logo{
    display: inline-block;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40px;
    background-color: teal;
    width: 45px;
    height: 45px;
    align-items: center;
    border-radius: 50px;
    color: #fff;

}



.menu{
    background-color: transparent;
    width: 100%;
    height: 50px;
    display: inline-block;
    position: fixed; 
    text-align: center; 
     
}

.menu ul, li{
    display: inline;
    list-style: none;
    
    
   
}
.menu li a{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none; 
}

.menu a:hover{ 
   color: rgba(196, 248, 5, 0.953);
   
}

.imagem{
    
    font-family: Montserrat;
    padding: 10em 10em;
    background:url(02.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:fixed;
    background-attachment: fixed;
    overflow: hidden;
    

}

.motal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.motal div{
    display: inline;
    flex-direction: row;
    text-align: center;
    
}

.fosco1, .fosco2, .fosco3 {
    font-size: 10px;
    width: 350px;
    height: 450px;
    background-color: rgba(55, 58, 54, 0.3);
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
    border:2px solid transparent;
    background-clip:padding-box;
    line-height: 1.5;    
}




.fosco4 {
    margin-top: 150px;
    font-size: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 58, 54, 0.538);
    color:#fff;
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
    border:2px solid transparent;
    background-clip:padding-box;
    backdrop-filter: blur(8px);
    line-height: 1.5;    
}

.fosco4:hover{
    background-color: rgba(255, 255, 255, 0.45);
    color: black;
    font-size: 15px;
    transition: all 0.6s;
}

.fosco1:hover{
    background-color: rgba(145, 197, 24, 0.388); 
    color: aliceblue; 
    box-shadow: 1px 1px 8px #fff;
    font-size: 20px;
    transition: all 1s;
    backdrop-filter: blur(8px);
    width: 350px;
    height: 480px;
           
}

.fosco2:hover{
    background-color: rgba(197, 24, 197, 0.388);
    color: aliceblue; 
    box-shadow: 1px 1px 8px #fff;
    font-size: 25px;
    transition: all 1s;
    backdrop-filter: blur(8px);
    width: 350px;
    height: 480px;
        
}

.fosco3:hover{
    background-color: rgba(11, 7, 21, 0.388);
    color: aliceblue; 
    box-shadow: 1px 1px 8px #fff;
    font-size: 25px;
    transition: all 1s; 
    backdrop-filter: blur(8px);
    width: 350px;
    height: 480px;
}

.footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: rgb(38, 35, 80);
    color: #fff;
    padding: 10px;
    justify-content: space-between;
}

.footer p{
    margin-left: 37%;
}
.footer img{
    width: 15px;
    margin-right: 30px;
    
}

.footer img:hover{
    width: 25px;
    
    transition: all 1s;
}






/**
    position:absolute;
    top:50px;
    left:50px;
    translate: -50 and -50
**/


